<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/products/addproduct" method="GET" enctype="multipart/form-data">
        <label for="name">Nombre</label>
        <input type="text" id="name" name="name">
    
        <label for="presentation">Presentación</label>
        <select id="presentation" name="presentation">
            <option disabled selected>Presentación</option>  
            <% presentation.forEach(element => { %>
                <option value="<%=element%>"><%=element%></option>  
            <% }) %>
        </select>

        <label for="price">Precio</label>
        <input type="number" id="price" name="price">
    
        <label for="category">Categoría</label>
        <select id="category" name="category">
            <option disabled selected>Categoría</option>  
            <% categories.forEach(element => { %>
                <option value="<%=element%>"><%=element%></option>  
            <% }) %>
        </select>
    
        <label for="stock">Stock</label>
        <input id="stock" type="number" name="stock">
    
        <label for="image">Imagen</label>
        <input id="image" type="file" name="image">
    
        <label>Exhibir producto<input type="radio" name="showing" value="1" checked></label>
        <label>Quitar de exhibición<input type="radio" name="showing" value="0"></label>

        <input type="submit" value="Crear">
        
    </form>

    <button><a href="/products">Volver al inicio</a></button>
    <button><a href="/logout">Cerrar sesión</a></button>

</body>
</html>