<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        <label for="name">Nombre</label>
        <input type="text" id="name" name="name">
    
        <label for="presentation">Presentación</label>
        <input type="text" id="presentation" name="name">
    
        <label for="name">Precio</label>
        <input type="text" id="name" name="name">
    
        <label for="name">Categoría</label>
        <select name="" id="">
            <option value="">Aperitivos</option>
        </select>
    
        <label for="name">Stock actual</label>
        <input type="text">
    
        <label for="name">Imagen actual</label>
        <img src="" alt="">
        <input type="file">
    
        <label for="showing">Exhibir producto</label>
        <input id="showing" type="radio">
        <label for="no_showing">Quitar de exhibición</label>
        <input id="no_showing" type="radio">

        <input type="submit" name="" id="" value="Crear">
        
    </form>

    <button><a href="/">Volver al inicio</a></button>
    
</body>
</html>