<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DL_bebidas-Dashboard</title>
    </head>
    <body>
        <% if (locals.welcomeMessage) { %>
            <p><%= welcomeMessage %></p> 
        <% } %> 
        
        <button><a href="/products/create">Agregar Producto</a></button>
        <h2>Categorías:</h2>
        <% if (products.length>0){ %>
            <ul>
                <% products.forEach(product => { %>
                    <li><a href="/products/update/<%= product.id %> "><%= product.name %></a> </li>
                <% }) %>
            </ul>
        <% } %>  
        <button><a href="/logout">Cerrar sesión</a></button>
    </body>
</html>
