/* login form */
.error_message_container {
    height: 30px;
};

.error_message {
    color: red;
};
/* login form */

/* update product */

.up-update_stock {
    background-color: salmon;
    display: flex;
    flex-direction: column;
}

.up-img {
   
}
.up-img img {
    width: 150px;
}
/* update product */



