/* login form */
.error_message_container {
    height: 30px;
};

.error_message {
    color: red;
};
/* login form */

/* update product */
.up_img {
   
}
.up_img img {
    width: 150px;
}
/* update product */



